<div class="side-navbar">
 
  <ul class="list-style-nav">
    <div  class="side-nav-item">
      <a [routerLink]="['/home',{outlets:{sideNavOutlet:['patientSearch'], tabPageOutlet:['bookAppointment']}}]" (click)="toggleDrawer(1)">
        <li>
          <span class="fas fa-plus-circle navbar-item" ></span>
        </li>
        <li>
          <div class="navbar-text">New Appointment</div>
        </li>
      </a>
    </div>
    <hr class="line-hr">
    <div class="side-nav-item">
      <a [routerLink]="['/home',{outlets:{sideNavOutlet:['appointmentHistory'], tabPageOutlet:['bookAppointment']}}]" (click)="toggleDrawer(2)">
        <li>
          <span class="fas  fa-history navbar-item" ></span>
        </li>
        <li>
          <div class="navbar-text">Appointment History</div>
        </li>
      </a>
    </div>
    <hr class="line-hr">
    <div class="side-nav-item">
        <a [routerLink]="['/home',{outlets:{sideNavOutlet:['addPatient'], tabPageOutlet:['bookAppointment']}}]" (click)="toggleDrawer(3)">
          <li>
              <span class="fa fa-plus navbar-item" ></span>
          </li>
          <li>
            <div class="navbar-text">Add New Client</div>
          </li>
        </a>
      </div>
      <hr class="line-hr">
    <div class="side-nav-item">
      <a [routerLink]="['/home',{outlets:{sideNavOutlet:['clientList'], tabPageOutlet:['bookAppointment']}}]" (click)="toggleDrawer(4)">
        <li>
          
          <span class="fa fa-address-book navbar-item" ></span>
        </li>
        <li>
          <div class="navbar-text">View Client List</div>
        </li>
      </a>
    </div>
    <hr class="line-hr">
    <div class="side-nav-item">
      <span>
      <a  [routerLink]="['/home',{outlets:{sideNavOutlet:['stats'], tabPageOutlet:['bookAppointment']}}]" (click)="toggleDrawer(5)">
        <li>
            <span class="fa fa-book navbar-item" ></span>
        </li>
        <li>
          <div class="navbar-text">Monthly Stats</div>
        </li>
      </a>
      </span>
    </div>
    <hr class="line-hr">
    <div class="side-nav-item">
      <span>
      <a (click)="toggleDrawer(6)">
        <li>
            <span class="fa fa-sign-out-alt navbar-item" ></span>
        </li>
        <li>
          <div class="navbar-text">Logout</div>
        </li>
      </a>
      </span>
    </div>
  
    <hr class="line-hr">
  </ul>
</div>


    <div class="example-container">
    <mat-drawer-container autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="drawerIsOpen">
            <router-outlet name="sideNavOutlet"></router-outlet>
        </mat-drawer>
        
      
        <div class="example-sidenav-content">
          <div>
            <router-outlet name="tabPageOutlet"></router-outlet>
          </div>
        </div>
        
      </mat-drawer-container>
      </div>