<div class="list-view-card">
<div class="row">
  <div class="col-sm-2 client-id">{{client.clientId}}</div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 client-name">{{client.firstName+' '+client.lastName}}</div>
        <div class="col-sm-2 client-gender">{{client.gender}}</div>
        <div class="col-sm-4 client-number">{{client.phoneNumber}}</div>
      </div>
      <div class="row">
        <div class="col-sm-4 client-date-of-birth">{{client.dateOfBirth}}</div>
          <!-- <div class="col-sm-2 client-gender">Male</div> -->
        <div class="col-sm-8 client-email">{{client.email}}</div>
      </div>
  </div>
</div>
</div>