/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-green,600);
  $accent: mat-palette($mat-blue-gray,900);
  $test:mat-palette($mat-orange,400);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

